<html lang="en">
  <head xmlns:th="http://www.thymeleaf.org">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    /> -->

    <link rel="stylesheet" href="../../static/css/style.css" > 
    <link rel="stylesheet" href="../../static/css/pages/login.css" >

    <title>Connexion</title>
  </head>

<body>
  <header></header>

  <div class="content-wrapper">
    <div class="container">
      <div class="wrapper d-flex align-items-center justify-content-center h-100">
        <div class="card login-form">
          <div class="card-body">

            <h5 class="card-title text-center">Formulaire de connexion</h5>

            <!-- FORMULAIRE CORRIGÉ -->
            <form method="post" th:action="@{/login}">

              <!-- Identifiant -->
              <div class="mb-3">
                <label for="username" class="form-label">Identifiant</label>
                <input
                  type="text"
                  name="username"
                  class="form-control"
                  id="username"
                />
              </div>

              <!-- Mot de passe -->
              <div class="mb-3">
                <label for="password" class="form-label">Mot de Passe</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                >
              </div>

              <!-- Mot de passe oublié -->
              <div class="sign-up mt-4">
                <a th:href="@{users/register}">Mot de passe oublié</a>
              </div>

              <!-- Message d'erreur -->
              <div class="error" th:if="${error}">
                Identifiants erronés <br />
              </div>

              <!-- Bouton -->
              <div class="center-btn-container">
              <button type="submit" class="btn btn-primary w-100">
                Connexion
              </button>
              </div>

            </form>
            <!-- FIN FORMULAIRE -->

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- JS -->
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    crossorigin="anonymous"
  ></script>
</body>

</html>
