.login-form {
    width: 32rem;
    height: 40rem;
    padding: 2rem 1rem 1rem;
}

form {
    padding: 1rem;
}

/* Mobile (par défaut) */
.card.login-form{
  background-image: url("../../img/bois-definitif.jpg");
  background-size: cover;      /* l'image remplit l'espace */
  background-position: center; /* centrée */
  background-repeat: no-repeat; /* pas de répétition */
  border: none;
  display: flex;
  justify-content: center;   /* horizontal */
  align-items: center;        /* vertical */
  font-size: 1rem;
  width: 90%;
}

/* Tablette */
@media (min-width: 768px) {
  .card.login-form {
    font-size: 1.2rem;
    width: 70%;
      background-image: url("../../img/bois-definitif.jpg");
  background-size: cover;      /* l'image remplit l'espace */
  background-position: center; /* centrée */
  background-repeat: no-repeat; /* pas de répétition */
  border: none;
  display: flex;
  justify-content: center;   /* horizontal */
  align-items: center;        /* vertical */
  }
}

/* Ordinateur */
@media (min-width: 1024px) {
  .card.login-form {
    font-size: 1.3rem;
    width: 50%;
    background-image: url("../../img/bois-definitif.jpg");
  background-size: cover;      /* l'image remplit l'espace */
  background-position: center; /* centrée */
  background-repeat: no-repeat; /* pas de répétition */
  border: none;
  display: flex;
  justify-content: center;   /* horizontal */
  align-items: center;        /* vertical */
  }
}

.card-title.text-center{
  font-weight: bolder;   /* gras */
  color: #FFDD00;      /* remplace par ton code couleur */
  font-size: 2rem;
}

.error{
  font-weight: bold;
  color: #ff0000;      /* remplace par ton code couleur */
}

.form-label{
  font-weight: bolder;
  color: #ffffff;      /* remplace par ton code couleur */
  display: block;
  margin-bottom: 0.4rem;
}

.sign-up.mt-4{
  color: #ffffff;      /* remplace par ton code couleur */
}

.btn.btn-primary.w-100{
  background-color: #7E7E7E;
  font-weight: bolder;
  border: none;
}

.btn.btn-primary:hover{
  background-color: #b6b6b6; 
}

.mb-3{
  background-color: #FFDD00;  /* remplace par ton code couleur */
  border-radius: 3px;
  padding: 0.15rem;
}