@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html, body {
  font-family: 'Open Sans', sans-serif;
}
.chart-box {
    height: 320px;
}

.chart-sm {
    height: 260px;
}

.brand-text {
    font-weight: 600;
}