.chart-box {
    height: 320px;
}

.chart-sm {
    height: 260px;
}

.brand-text {
    font-weight: 600;
}

legend {
    background-color: hsl(60, 100%, 50%);
    color: white;
    padding: 3px 6px;
    width: 50%;
}