@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html, body {
  font-family: 'Open Sans', sans-serif;
}
.likert {
    display: flex;
    gap: .75rem;
    align-items: center;
    flex-wrap: wrap;
}

.likert .icheck-primary {
    margin-right: .25rem;
}

.question legend {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.required::after {
    content: " *";
    color: #dc3545;
}