.brand-text {
    color: #ffffff;
    /* text-align: end; NE MARCHE PAS, METTRE LE TITRE DANS LE CADRE D'EN DESSOUS*/
}

.likert {
    display: flex;
    gap: .75rem;
    align-items: center;
    flex-wrap: wrap;
}

.likert .icheck-primary {
    margin-right: .25rem;
}

.row {
    background-color: #FFDD00;
    margin: 3rem;
}

.content-wrapper {
    justify-content: center;
    background-image: url("../../img/bois-definitif.jpg");
}

.question legend {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.required::after {
    content: " *";
    color: #dc3545;
}

.required {
    color:#7e7e7e;
}

h1 {
      font-weight: bolder;
      color: #7e7e7e; 
      font-size: 2rem;
      margin-bottom: 1rem;
}

p {
      color: #ffffff; 
      text-align: center;
      font-weight: bolder;
    }

.card-header {
    background-color: #FFDD00;
}

.card-title {
    font-weight: bolder;
    color: #7e7e7e;
}
