@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html, body {
  font-family: 'Open Sans', sans-serif;
}


h1{
    text-align: center;
}

img{
    max-width: 8rem;
}

.article{
    text-decoration: underline;
}

fieldset{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid black;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

legend {
    background-color: hsl(60, 100%, 50%);
    color: white;
    padding: 3px 6px;
    width: 50%;
}

div a {
    text-decoration: none;
    margin-right: 10px;
    align-self: center;
}

.globalEncheres{
    display: flex;

    align-items: center;
    border-style: solid;
    width: 600px;
    height: 200px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.displayEnchere{
    margin: 5px 0;
    margin-left: auto;
    align-self: center;
}

.articleEncheres{
    display: block;
    height: 30%;
}

.infosItems{
    text-align: center;
}

.content-wrapper{
    padding-bottom: 2em;
}

.logo{
    width: 10em;
}