@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100dvh;      /* Hauteur réelle du viewport mobile */
    overflow-x: hidden;      /* Évite les artefacts latéraux */
}

body {
    background-image: url(../img/arrière-plan.jpg);
    background-repeat: no-repeat;
    background-position: top center; /* ou center center selon ton image */
    background-size: 100% 100%;      /* Forcer la DEFORMATION de l’image */
    image-rendering: auto;           /* Lissage correct */
}

h1{
    text-align: center;
}

.article{
    text-decoration: underline;
}

fieldset{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid black;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

div a {
    text-decoration: none;
    margin-right: 10px;
    align-self: center;
}

.globalEncheres{
    display: flex;

    align-items: center;
    border-style: solid;
    width: 600px;
    height: 200px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.logo{
    width: 10em;
}

