h1{
    text-align: center;
}

img{
    max-width: 8rem;
}

div a {
    text-decoration: none;
    margin-right: 10px;
    align-self: center;
}

.content-wrapper{
    padding-bottom: 2em;
}

.logo{
    width: 10em;
}